*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Above reset css */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(26, 9, 37);
}
.nav-menu {
  display: flex;
  justify-content: space-around;
  background-color: #000015;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  right: 0;
}
.nav-menu a {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 18px;
  color: orange;
}
.nav-menu a:hover {
  color: white;
  background-color: black;
}
.main {
  margin: 0 auto;
  width: 80%;
  margin-top: 150px !important;
  color: white;
  margin-bottom: 120px;
}
.main h2 {
  text-align: center;
  font-size: 50px;
}
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  font-size: 18px;
}
.col i {
  padding-right: 10px;
}
.col h5 {
  padding-bottom: 20px;
}
.contact-email {
  display: flex;
  flex-direction: column;
}
.contact-email button {
  background-color: #f44336;
  border-radius: 4px;
  color: white;
}
.container {
  text-align: center;
  padding: 24px 32px;
}

.container i,
p {
  font-size: 20px;
}
.container a {
  color: black;
}

.footer {
  background-color: aliceblue;
}
